doctype html
html
    include components/head.pug
    body
        .app(class="flex-center full-height")
            .container
                left-side-bar(ref="leftSideBar")
                toolbar
                router-view
