doctype html
html
    include components/head.pug
    body
        .app(class="flex-center full-height")
            .container
                toolbar
                router-view(:news="news", :currency="currency")
