body {
    padding-top: 100px;
    background-color: #f5f5f5 !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.header-toolbar.md-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    .md-toolbar-container {
        height: 50px;
    }
}

.toolbar-btn {
    justify-content: space-around;

    .md-button {
        width: 100%;
    }

    .active {
        background-color: rgba(255, 255, 255, 0.4);
    }

    .md-icon:nth-child(1) {
        padding-right: 5px;
    }
}

.md-toolbar .md-button:hover:not([disabled]):not(.md-raised):not(.md-icon-button):not(.md-fab) {
    background-color: rgba(255, 255, 255, 0.4);
}

.md-dialog-container {
    .md-dialog {
        overflow-y: auto;
    }
}

.setting {
    padding: 5% 10%;
}

input[type="date"] {
    font-size: 16px;
}